:root {
  --iris: #4d5ae5;
  --logo-black: #000000;
  --white-color: #ffffff;
  --button-filter: #f5f4fa;
  --background-black: #2e2f42;
  --text-white-opacity: rgba(255, 255, 255, 0.6);
  --primary-text-color: #434455;
  --navyblue: #2e2f42;
  --primary-black-color: #000000;
  --cloud: #f4f4fd;
  --cornflower: #e7e9fc;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-align: center;
}
h1 {
  font-size: 56px;
  font-weight: 700;
  letter-spacing: 1.12px;
  line-height: 60px;
  font-style: normal;
}
p {
  margin: 0;
  line-height: 25px;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--primary-white-color);
  font-size: 16px;
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
  font-weight: 400 900;
}

header [class="logo"],
footer > .logo {
  text-decoration: none;
}

li > a {
  text-decoration: none;
}
.list,
.list-item,
contact-link {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
  color: inherit;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.link {
  text-decoration: none;
  color: inherit;
}

/* Logo */
.logo {
  color: var(--iris);
  font-family: "Raleway", "sans-serif";
  font-weight: 800;
  line-height: 1.2;
}

.logo-black {
  color: var(--logo-black);
}

.logo-white {
  color: var(--white-color);
}

/* Header */

.menu,
.navigation,
.nav-menu-list,
contacts-menu-list {
  display: flex;
  align-items: center;
}

.nav-menu-list,
contacts-menu-list {
  margin-left: 93px;
}

.nav-menu-list .list-item:not(:last-child),
.contacts-menu-list .list-item:not(:last-child) {
  margin-right: 50px;
}

.nav-menu-list .page-header,
.contacts-menu-list .contact-link {
  display: block;
  padding-top: 20px;
  padding-bottom: 19px;
  color: var(--primary-black-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts-menu-list .contact-link {
  color: var(--primary-text-color);
}

.nav-menu-list .page:hover,
.nav-menu-list .page:focus,
.nav-menu-list .page-current-link,
.contacts-menu-list .contact-link:hover,
.contacts-menu-list .contact-link:focus {
  color: var(--navyblue);
}

.page-header {
  border-bottom: 1px solid #ececec;
}

/* button */

.button {
  border-color: transparent;
  font-family: inherit;
  letter-spacing: 0.03em;
  cursor: pointer;
  border-radius: 4px;
}

.button-orderservice:hover,
.button-orderservice:focus {
  background-color: var(--iris);
  text-align: center;
  cursor: pointer;
}

.button-port-nav:hover,
.button-port-nav:focus {
  background-color: var(--iris);
  color: var(--cloud);
  text-align: center;
  cursor: pointer;
}
.button-orderservice {
  color: var(--white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  margin-top: 30px;
  border-radius: 4px;
  background: var(--iris);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  display: flex;
}

.button-port-nav {
  background-color: var(--cloud);
  display: flex;
  padding: 12px 24px;
  border: 1px solid var(--cornflower);
  justify-content: center;
  align-items: center;
  color: var(--iris);
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400 900;
  line-height: 24px;
  letter-spacing: 0.64px;
  border-radius: 4px;
}
/* hero */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.bg-hero {
  background-color: var(--background-black);
}

.hero-title {
  /* margin-bottom: 30px; */
  color: var(--white-color);
  font-weight: 900;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
}
/*our team */

.our-team {
  background-color: var(--cloud);
}
/*footer */
.footer {
  background-color: var(--navyblue);
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer-text {
  text-align: left;
  color: var(--white-color);
}
/* .header-nav {
font-family: sans-serif;
text-decoration: none;
white-space: nowrap;
font-size: 16px;
}
.nav {
  text-decoration: none;
  white-space: nowrap;
  font-size: 16px;
}
.center-nav {
  color: blue;
  text-decoration-color: blue;
  font-size: 16px;
}
.center-nav:hover {
color: darkblue;
outline-color: rgb(126, 228, 148);
transition: background-color 3s;
border-color: black;
border-radius: 4px;
} */

/* .main-orderservice {
  background: #2E2F42;
  width: 1000px;
height: 200px;
        }

 
.h1-orderservice {
  width: 496px;
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; 
  letter-spacing: 1.12px;
        }
 
.button-orderservice {
            position: absolute;
            align-content: center;
            text-align: center;
            bottom: 20px;
            left: 250px;
      margin: 25%;
      
          }

.button {
  background-color: blueviolet;
  color-scheme: green;
}
a {
  text-decoration: none;
  font-size: 16px;
}
li {
list-style: none;

}
address {
  color:black;
  text-decoration: none;
  font-size: 16px;
}
address:hover {
color: blue;
}


h2,h3,p,h1 {
  font-family: 'roboto', sans-serif;
}
button{
  border-color: blue;
 border-radius: 4px;
background: var(--iris, #4D5AE5);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.strategy {

display: flex;
width: 264px;
flex-direction: column;
align-items: flex-start;
gap: 8px;

}
.punctuality {
display: flex;
width: 264px;
flex-direction: column;
align-items: flex-start;
gap: 8px;
}

.diligence {
display: flex;
width: 264px;
flex-direction: column;
align-items: flex-start;
gap: 8px;

}

.technologies{
display: flex;
width: 264px;
flex-direction: column;
align-items: flex-start;
gap: 8px;
} */
/* teamcard section*/

/* .teamcard-section {
  padding: 5px;
  max-width: 1000px;
  background-color: #fff;
  border: 2px;
}

.teamcard {
  margin-bottom: 30px;
  border: 2px;
}
.teamcard-img {
  display: block;
  max-width: 500%;
  height: auto;
  align-items: center;
}
.teamname {
  margin-top: 0;
  margin-bottom: 20px;
  border: 2px ;
  text-align: center;
}

.teamrole {
  margin-bottom: 0;
  margin-top: 0;
  border: 2px;
  text-align: center;
} */
/* Button Text
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px;     150%
letter-spacing: 0.64px; */
